:root{
    --sidebar-width: 280px;
    --field-border-radius: 3px;
    --menu-bg: #263544;
    --menu-active-bg: #212d3a;
    --menu-text: #a7b1be;
    --text-color: #515151;
    --table-color: var(--text-color);
    --primary-color: #3a96ff;
    --primary-border-color: #2a81e4;
    --primary-color-hover: #2a81e4;
    --primary-border-color-hover: #1c68c0;
    --primary-field-focus-border-color: #1c68c0;
    --glow-border: #3a96ff;
    --glow-color:  rgba(61, 128, 230, 0.6);
    --default-color: #e7e7e7;
    --default-border-color: #CCC;
    --warning-color: #f0b849;
    --warning-border-color: #e4a424;
    --danger-color: #e26139;
    --danger-border-color: #b82613;
    --success-color: #21c141;
    --success-border-color: #0f9a2a;
}